/* li {
  list-style-type: none;
  padding: 1em;
} */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  border: 1px solid #333333;
  box-shadow: 0 0 6px #333;
  margin: 2em 1em;
  width: 500px;
  padding: 2em;
}

img {
  object-fit: cover;
  width: 340px;
  height: 340px;
}

h2 {
  color: #333333;
  margin-block-start: 0.1em;
}

h3 {
  color: #333333;
  margin-block-start: 0.33em;
  margin-block-end: 0.1em;
}

p {
  color: #888888;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}
