.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  border: 1px solid #333333;
  box-shadow: 0 0 6px #333;
  margin: 2em 1em;
  width: 440px;
  padding: 2.4em;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  width: 440px;
  height: 360px;
}

h2 {
  color: #333333;
  margin-block-end: 0.1em;
}

h3 {
  color: #333333;
  margin-block-start: 0.33em;
  margin-block-end: 0.1em;
}

.price {
  font-size: 2.6em;
}

p {
  color: #666666;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}
